[2016-04-13 20:59] adamj88 opened #1 "Error: Running without the SUID sandbox!"
I'm experiencing an error whilst trying to run this on a Raspberry Pi 3, not sure if this is the same for the 2. The error I'm seeing is as follows:

[code]

Please let me know if there is any more information you need to debug this.

[2016-04-15 12:02] curcuz commented on #1
hi, Those errors shouldn't prevent the execution of your app (i'm investigating them anyways).

How did you set the env vars?

[2016-05-25 04:09] dovy commented on #1
Similar:
[77:0525/040715:ERROR:browser_main_loop.cc(217)] Running without the SUID sandbox! See https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md for more information on developing with the sandbox on.

[2016-05-25 05:21] dovy opened #2 "Enable mouse"
Got it to boot after changing some things around. Great work. For development, how would one enable the mouse in this interface? I'd like to use it until I hook up a touch-screen.  ;)

[2016-05-25 08:27] curcuz commented on #2
you'd want to remove the `-nocursor` parameter from [here](https://github.com/fwrgit/resin-electronjs/blob/d968e602967f25e0009bf37dbe9846e1dfb76fd2/Dockerfile.template#L48)

[2016-05-25 08:29] curcuz commented on #1
this is because i made the root user start electron. As a template purpose, this is ok since people tinkering/learning with GPIO or other interfaces won't get stuck on permission issues

[2016-05-25 13:35] dovy commented on #2
Are the environment variables from resin accessible in the dockerfile? Could be another option to "ENABLE_MOUSE".

;)

[2016-05-25 13:35] #2 closed

[2016-05-25 15:25] curcuz commented on #2
There is indeed a way to access env vars from dockerfile, but that would be effective only once during the push, then until the next push changes to variables won't be reflected to the application

[2016-05-25 15:35] dovy commented on #2
Hmm, true. Just wanted to be able to modify easily.

[2016-05-25 15:57] dovy commented on #2
Completely off this topic, but how did you alter the boot to not include the Resin boot screen while X is launching?

[2016-05-25 16:24] dovy commented on #2
meaning the black screen with the Resin in ASCII, not the boot loader graphic.  ;)

[2016-05-26 02:05] dovy commented on #1
@curcuz what's the suggested method to do this properly?  ;)

[2016-05-26 06:59] curcuz commented on #1
@dovy apparently, just the way it is already 😄  https://github.com/electron/electron/issues/1482 https://github.com/electron/electron/issues/22

[2016-05-26 13:28] curcuz commented on #2
@dovy definitely not related to this app :) to achieve that atm you have to tamper the hostOS by deleting `etc/systemd/system/multi-user.target.wants/tty-replacement.service` but hopefully in the future there might be some kind of switch to do that more easily

[2016-06-09 10:24] #1 closed

[2016-06-16 22:01] curcuz opened #3 "check if device matches minimum gpu_mem config value before starting X"
even if specified [here](https://github.com/fwrgit/resin-electronjs/blob/master/README.md#pre-requisites), this appears to be the most common *issue* - we can check if `vcgencmd get_config gpu_mem` >=64 before starting X

[2016-09-04 11:33] edoardo849 opened #5 "Enable audio input and output"
On my device(s) I need to access the microphone and output audio in kiosk mode. However, when I boot up the app it appears to be stucked and in the logs I see 2 messages:

04.09.16 12:18:31 [+0100] [104:0904/111831:INFO:CONSOLE(170)] "> ON EVENT", source: file:///app/app/app.js (170)
04.09.16 12:18:31 [+0100] [104:0904/111831:INFO:CONSOLE(171)] "1", source: file:///app/app/app.js (171)
04.09.16 12

[2016-09-05 17:00] curcuz commented on #5
Hi @edoardo849 can you please paste a snippet of code to reproduce the issue? I have some suspects and want to be sure about it

[2016-09-05 17:15] edoardo849 commented on #5
Hey @curcuz ! Thanks for your quick reply, the mic that I was using wasn't working. Looks like the error was thrown when no mic was detected. I haven't tested input and audio output yet but the aforementioned error is solved.

[2016-09-05 17:29] curcuz commented on #5
@edoardo849 I'll close this one then, feel free to open new ones if you encounter any other issues!

[2016-09-05 17:29] #5 closed

[2016-09-06 08:37] klowdo opened #7 "gitsubmodules download"
I want to do this myself but i don't know how. i need it do download gitsubmodules

[2016-09-06 09:21] curcuz commented on #7
@klowdo - do you mean on build process via Dockerfile or just in your fork?

[2016-09-06 09:34] klowdo commented on #7
@curcuz in the docker file. i'm using atlasboard that use submodules as plugins to the dashboard. i tried adding git-core to docker file. but the "git repository" don't exsist in src

[2016-09-07 09:24] curcuz commented on #7
@klowdo I don't understand this statement:

can you please clarify?

[2016-09-08 12:25] curcuz commented on #3
since the project now targets multiple architectures, it doesn't make sense to do this anymore

[2016-09-08 12:26] #3 closed

[2016-09-09 07:57] klowdo commented on #7
@curcuz i want to download the git submodules in the docker build. Because i need it in my output directory
I'm using atlasboard and submodule https://bitbucket.org/atlassian/atlasboard-atlassian-package

[2016-09-09 10:04] curcuz commented on #7
@klowdo

A git submodule, as per [git official documentation](https://git-scm.com/docs/git-submodule) is a way "to keep another Git repository in a subdirectory of your repository." - so you should either add the desired repos as submodules to your own repo or clone them on the Dockerfile.

So, again, I don't understand this statement:

what src?

Also,

you can't _download_ submodules since they

[2016-09-10 10:14] klowdo commented on #7
Okey i understand! i wll clone in advance an push them in as my own code! thanks!

[2016-09-10 10:14] #7 closed

[2016-09-12 15:01] manast opened #9 "Video performance"
Hello,

I have been checking resin-electronjs today and I am not able to get any decent performance on a raspberry pi 3. I have tried with the master branch as well as with the framebuffer one. Also, I noticed that the image quality is not so good, it seems as if the graphics are quantized, i.e. running in maybe 16bits/pixel instead of 24. Do you have any advices? is it even possible to get an acc

[2016-09-17 10:04] edoardo849 commented on #5
Hello @curcuz ! So after several trials I'm still having issues with audio. Input audio works with your default Dockerfile but audio does not. Now if I install `omxplayer` I can play audio from the terminal. However, still no luck in Electron. If I install `alsa-utils` and set up `/etc/asound.conf` like this:

[code]

the audio works fine on Electron, but the input (microphone) does not. I guess m

[2016-09-17 10:04] edoardo849 opened #10 "Audio not working on Electron"
Hello @curcuz  ! So after several trials I'm still having issues with audio.

I have a USB Microphone and a speaker connected to the jack.

Input audio works with your default Dockerfile but the audio does not. Now if I install omxplayer I can play audio from the terminal. However, still no luck in Electron. If I install alsa-utils and set up /etc/asound.conf like this:

[code]

the audio works fi

[2016-09-23 19:42] curcuz commented on #10
Hi @edoardo849 - I think whatever is the issue, it's not related with Electron itself, but with X11-based applications - can you give me details about what device are you using (I guess raspberrypi), what's the USB mic model?

[2016-09-30 10:42] mrjonny2 commented on #9
I have attempted to get this working, unfortunately chromium (on which electron is based) does not support the GPU used in the RPi, this means that it is unable to use hardware acceleration and the full load is dumped onto the CPU, which does not handle video decoding very well.

[2016-09-30 12:27] joeyvandijk opened #12 "xinit: connection to X server lost"
When I deploy the code to a Raspberry Pi v1 or a Zero (with 64GB) I see in the Resin logs window X.org being launched and again and again and again at both devices with the same code. I did not alter the code of this repo, just pushed it to the Resin Git repo to deploy and see how it worked.

I see this over and over again:

[code]

Updating docker-prebuild did not matter anything, but is it Fluxb

[2016-09-30 13:25] craig-mulligan opened #13 "node_integration defaults 0"
Electron.js sets it `node_integration` to true by defualt, is there any reason we dont? @curcuz

[2016-09-30 21:48] curcuz commented on #12
Have you set `gpu_mem` to a value > 64 as per the README?

[2016-09-30 21:51] curcuz commented on #13
Because i expected more people using this project as a kiosk browser than an Electron app launcher and some web libraries like jQuery break when `node_integration=1` if included as usual

[2016-09-30 21:51] alexandrosm commented on #12
carlo, may be worth detecting the error and warning the user?

##

_Alexandros Marinos_

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Fri, Sep 30, 2016 at 2:48 PM, Carlo Maria Curinga <
notifications@github.com> wrote:

[2016-09-30 21:52] alexandrosm commented on #13
Carlo, have you seen the <webview> tag? Maybe it would help to load urls
into that by default?

##

_Alexandros Marinos_

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Fri, Sep 30, 2016 at 2:51 PM, Carlo Maria Curinga <
notifications@github.com> wrote:

[2016-09-30 21:54] curcuz commented on #12
@alexandrosm I can for the rpi family, this will inyroduce device-specific code that will be executed on some sort od hw detection clause #3

[2016-09-30 22:27] alexandrosm commented on #12
hmm, interesting. Is there some sort of cross-device way to find out the
GPU ram? I guess not, right?

##

_Alexandros Marinos_

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Fri, Sep 30, 2016 at 2:54 PM, Carlo Maria Curinga <
notifications@github.com> wrote:

[2016-09-30 23:47] dobesv opened #14 "Mouse cursor support?"
Maybe just a newbie question, but is it supposed to be possible to operate the electron app on a Rasberry Pi 3 using a mouse / trackball?

I got my resin-electronjs based app running on the app but I don't see a mouse pointer anywhere on the screen.  I tried two difference mice to no avail.

[2016-10-01 05:40] joeyvandijk commented on #12
@curcuz yes I have, but not in the `ENVIRONMENT VARIABLES` but in the device configuration because `RESIN_` variables cannot be set at `https://dashboard.resin.io/apps/126733/devices/227742/envvars`. But it does not matter for this issue. Same issue still exists, so keeps repeating the error `xinit: connection to X server lost`

See this [PR](https://github.com/resin-io/resin-electronjs/pull/11) f

[2016-10-06 09:50] curcuz commented on #14
Hi @dobesv it is possible, please refer to #2

you'd want to remove the `-nocursor` parameter from [here](https://github.com/fwrgit/resin-electronjs/blob/d968e602967f25e0009bf37dbe9846e1dfb76fd2/Dockerfile.template#L48)

[2016-10-25 17:54] buildog commented on #9
maybe by activating WebGL but don't know how to do that within a resin image ?

[2016-10-30 18:28] #14 closed

[2016-10-30 18:29] curcuz commented on #10
@edoardo849 since I am unable to reproduce without the info requested, I will close this issue soon if no details will be shared

[2016-11-11 15:51] thrandre commented on #12
I'm experiencing the exact same issue. RESIN_HOST_CONFIG_gpu_mem is set to `70`

[2016-11-23 11:32] imrehg opened #16 "readme missing image"
The readme refers to http://snappin.io/img/resin_electron_love.png but that file is missing.

[2016-11-25 18:28] curcuz commented on #16
fixed in #17

[2016-11-29 16:36] imrehg opened #18 "sed sometimes fails"
Seem to get the following error when pushing new image today:

[code]

[2016-12-01 21:55] #16 closed

[2016-12-01 21:56] #13 closed

[2016-12-01 21:57] curcuz commented on #10
no answer since more than 2 months ago, closing

[2016-12-01 21:57] #10 closed

[2016-12-07 03:19] lurch commented on #18
Connects to https://github.com/resin-io/hq/issues/468 ?

[2016-12-14 16:41] jakkra opened #20 "Adding React to the boilerplate"
I'm trying to integrate ReactJS, but can't get it to work.

Anyone done this before?

[2016-12-14 17:11] danielmahon commented on #20
Sure. Working on a project using it now. What problems are you having? If it's a routing problem and your using something like react-router, make sure you use "hash history" instead of "browser history" so the urls will work when pointing to your index.html file. Also want to probably like scripts and stuff with relative paths.

[2016-12-14 17:30] jakkra commented on #20
It's the structure I'm having problems with and to get the Docker file to work. It doesn't want to run. I'm not very good at configuring Web-pack/Bower so some kind of boilerplate would be awesome.

[2016-12-15 10:17] curcuz commented on #12
#11 should avoid this kind of confusion

[2016-12-22 16:43] #18 closed

[2017-01-03 08:32] shaunmulligan opened #21 "Electron failing to start on Intel NUC"
The following errors were reported:
[code]

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_yin)

[2017-01-03 20:57] sinback commented on #21
This problem persisted when I changed package.json to require the latest version of Electron (1.4.13).

edit: probably because npm was pulling the latest version of Electron all along anyway, as I noticed after reviewing output from a build... oops, that's caret ranges for you...

[2017-01-03 21:00] curcuz commented on #21
@sinback does a clean push from `master` produce the same issue (app not starting)? the errors @shaunmulligan reported should not prevent electron to run.

In any case I will give it a spin on NUC soon so I will be hopefully able to reproduce

[2017-01-03 21:45] sinback commented on #21
@curcuz Today I noticed that npm seems to be having trouble resolving electron's dependency on bluebird, so I can't quite do a successful clean push from master. But after I added bluebird as an explicit dependency I saw the same error. (I didn't change anything else.)

My NUC doesn't seem to be driving the display it's connected to, which makes me assume electron isn't running, or at least isn't

[2017-01-05 02:17] sGerli opened #22 "Cannot find bluebird"
Hi, I'm getting an error after running `git push resin master`:
I don't know if I'm doing anything wrong, and I haven't modified anything yet. I'm running this from windows 10 and I'm trying to deploy to a Raspberry Pi 2.
Logs:
[code]

[2017-01-05 02:50] curcuz commented on #22
Hey @sGerli this seems to be the same issue described in #21

I managed to reproduce, will push a fix very soon after some more local test.

Long story short this is related to recent versions of `electron` and broken `electron-rebuild` - I will drop the `electron-rebuild` dependency in favour of [require-rebuild](https://www.npmjs.com/package/require-rebuild)

[2017-01-05 02:50] sGerli commented on #22
Ok, thanks

[2017-01-05 02:51] curcuz commented on #21
This is related to recent versions of `electron` and broken `electron-rebuild` - I will drop the `electron-rebuild` dependency in favour of [require-rebuild](https://www.npmjs.com/package/require-rebuild)

expect a fix coming soon in the upcoming days, currently testing locally the fix.

[2017-01-05 17:17] curcuz commented on #21
@sinback can you please test the `fix-native-modules-rebuild` branch (PR #23 ) via `git push resin fix-native-modules-rebuild:master` ?

[2017-01-05 17:17] curcuz commented on #22
@sGerli can you please test the `fix-native-modules-rebuild` branch (PR #23 ) via `git push resin fix-native-modules-rebuild:master` ?

[2017-01-05 18:04] sGerli commented on #22
Yes this one worked 👍

[2017-01-05 19:18] sinback commented on #21
@curcuz Yep, I pulled down the branch and pushed it to my NUC. problem persists for me.

[code]

[2017-01-05 19:26] curcuz commented on #22
perfect, expect #23 to be merged soon, will keep this open until then

[2017-01-05 20:09] curcuz commented on #21
@sinback the logs you pasted are unharmful and should not prevent electron from running - do you see any output on the screen when the device boots? you should at least see the `resin.io - check your dashboard` ascii message

[2017-01-06 20:09] danielmahon commented on #20
@jakkra Sorry I missed your comment earlier, once I get the performance and usability to where I want it I can work on a boilerplate (towards end of month). In the meantime here is the basic setup I'm using.

I do NOT claim this to be the optimal way and I might have messed stuff up while pasting and removing private info... 😉

https://gist.github.com/danielmahon/35f49cc84a9520aec4ef2ed4db7fddd3

[2017-01-07 00:23] curcuz commented on #21
merging #23 and closing this since it got confirmed working by others. Feel free to re-open if issue persists nad you can confirm the display has being detected from your device

[2017-01-07 00:23] #21 closed

[2017-01-07 00:25] #22 closed

[2017-01-10 20:13] danielmahon commented on #20
FYI: When storing persistent state in react/redux, consider moving the electron/chrome user directory to `/data`. I'm using this to make sure data I save to IndexedDB persists across application restarts.

Dockerfile
[code]

main.js
[code]

[2017-01-10 20:43] curcuz commented on #20
@danielmahon great suggestion, I will add this as an option, but will make it disabled by default (we don't want to persist random users data in a kiosk device 🙈  )

[2017-01-10 20:45] danielmahon commented on #20
@curcuz agreed!

[2017-01-12 02:55] bitnom commented on #9
This is actually my main use case for wanting to buy a raspberry pi: An electron app meant for video playback.

[2017-01-12 03:24] danielmahon commented on #9
@TomAshley303 In my experience, until they update to the 4.4 kernel which has the (experimental) OpenGL support you will pretty much HAVE to rely on omxplayer for video playback. I know the resin team is working on the update as we speak. For now, I am running an electron app based on this template and then triggering videos via `omx-manager`. I just send button presses/states through the electron

[2017-01-12 10:33] oscarwest opened #25 "Problem with Dockerfile.template apt-get update GPG Errors keyexpired"
Hello,
I seem to be unable to fix this deployment error when trying to deploy this repo with no changes.
I'm deploying to a raspberry pi 3b.

I've tried changing the base image to

Output from the resin box
`root@appteamdashboardpi:~# cat /etc/os-release
ID="resin-os"
NAME="Resin OS"
VERSION="2.0.0-beta.1"
VERSION_ID="2.0-beta.1"
PRETTY_NAME="Resin OS 2.0.0-beta.1"
RESIN_BOARD_REV=e623b9b
META_RES

[2017-01-12 14:53] curcuz commented on #25
hi @oscarwest the critical issue that broke your build had nothing to do with the GPG errors (build still succeeds with those and we are working on fixing that anyways) but with `xserver-xorg-input-all` metapackage trying to install a `debian sid`-only deb package. The issue got fixed in #26

[2017-01-12 14:54] #25 closed

[2017-01-18 09:38] MatthieuLemoine opened #27 "[ODROID-XU4] : xserver-xorg-input-all@1:7.7+7+b1 not available in apt repositories"
On ODROID-XU4, the ``1:7.7+7+b1`` version of ``xserver-xorg-input-all`` is not available in apt repositories leading to a docker build failure. This version was pinned by #26.

On which distro is ``resin/odroid-ux3-node:6.9.2`` based ?

[2017-01-18 12:34] #27 closed

[2017-01-19 17:24] curcuz opened #29 "integrate and document versionist"
adopting [Versionist](https://github.com/resin-io/versionist) would be a huge benefit for both the devs and the users struggling with poor changelogs and releases comments

[2017-01-19 17:27] curcuz opened #30 "Update app/main.js syntax to proper ES6 electron docs"
for example, see the [current](https://github.com/resin-io/resin-electronjs/blob/ed5d205252e6a13f7548a925444382a9dbea116e/app/main.js#L6) browserWindow declaration vs [electron docs one](http://electron.atom.io/docs/api/browser-window/)

[2017-01-19 17:34] curcuz opened #31 "Implement window graceful show"
Right now while the window gets rendered/loaded a blank background is showed. This can be avoided pre-rendering windows and showing only when ready.

official docs [here](http://electron.atom.io/docs/api/browser-window/#showing-window-gracefully)

[2017-01-26 11:09] stefan-mihaila commented on #30
What about also adding an `.editorconfig` and an `.eslintrc`? I would go for the [Airbnb JavaScript Style Guide](https://github.com/airbnb/javascript), which is not very different at all of what `Etcher` uses.

[2017-01-26 12:33] curcuz commented on #30
@stefan-mihaila sounds great to me

[2017-01-29 14:25] joeyvandijk commented on #12
Trying again after some changes I noticed, but still no luck. I already changed the settings as you all mentioned above, and it did not work.

With the new changes from last weeks I still see no change. The startup process still hangs and after a while it concludes with ` xinit: connection to X server lost`. But this time I see before X.org launches `xauth: file /root/.Xauthority does not exist` i

[2017-01-29 14:31] curcuz commented on #12
@joeyvandijk are you able to see the splash logo and the 'resin.io - check your dashboard' message on the screen when the device boots? in general, are you able to get any kind of output on the screen?

[2017-01-29 15:15] joeyvandijk commented on #12
Yes I can see that, but from that moment nothing happens on the screen and
in the log I see the above error happening after the splash logo and "
resin.io - check your dashboard" message.

On Sun, 29 Jan 2017 at 15:31, Carlo Maria Curinga <notifications@github.com>
wrote:

[2017-01-30 11:00] curcuz commented on #12
@joeyvandijk I will try to reproduce - can you confirm the following:

* you are using the latest from `master`
* you are targeting a Raspberry Pi zero
* you are setting `RESIN_HOST_CONFIG_gpu_mem` = `64` or more in the `configuration variables` tab of your device in the resin.io dashboard

[2017-01-30 11:02] joeyvandijk commented on #12
Both are `yes`. I started the project yesterday with git clone so yes I
have the latest from master. And this is about the Raspberry Pi Zero.

On Mon, Jan 30, 2017 at 12:00 PM, Carlo Maria Curinga <
notifications@github.com> wrote:

[2017-01-30 17:59] curcuz commented on #12
I managed to reproduce. The issue is with Electron instantly exiting, making X end the session as a consequence

[2017-01-31 17:23] craig-mulligan opened #33 "Dev command"
Currently, there isn't an easy way to run resin-electronjs on your local machine. You have to manually pass in a URL_LAUNCHER because it defaults to absolute path `/usr/data/index.html`.

We should also add an `npm dev` script for convenience (with doesn't start x server).

[2017-01-31 19:48] danielmahon commented on #33
I use https://www.npmjs.com/package/dotenv and it seems to work nicely.

[2017-02-01 01:17] #30 closed

[2017-02-01 21:28] ValentinDenis opened #35 "Pushing failed docker error"
Hi !
I'm trying to setup electron with resin on my raspi 3.
I'm stuck at what seems to be the last step, aka pushing to master
Here is the error I get when trying to push:
`Building on 'local'
-----> Dockerfile template application detected
Step 1 : FROM resin/raspberrypi3-node:4.0.0
Build failed: BuildError: Tag 4.0.0 not found in repository docker.io/resin/raspberrypi3-node`

Thanks !

[2017-02-01 21:51] #35 closed

[2017-02-01 23:56] derrickaxel opened #36 "adding "pi-pins" to this template"
Hi
I am trying to use the GPIOs so I added "pi-pins". my dependencies in my package.json look like this
[code]

when I tried to run it on my RPI3 i got this error message:

if I Remove the code below (which is in my index.js) the error goes away:

[code]

I am doing something wrong?

[2017-02-02 01:38] lurch commented on #36
Yeah, I've seen this error before on [another project](https://github.com/resin-io/etcher/pull/802#issuecomment-257415982) - the problem is that your nodejs runtime uses one ABI version, and the electron runtime uses a different ABI version, so depending on how you install the node modules, they either won't work with nodejs, or they won't work with electron.
I've not actually used the code in thi

[2017-02-02 03:55] sGerli commented on #36
I'm having the same problem https://forums.resin.io/t/pi-pins-not-working-with-electron-project/548 .
That sounds like a good answer but isn't `require-rebuild` there to fix this types of issues?
If you find a solution please let me know.

[2017-02-02 04:48] derrickaxel commented on #36
@sGerli I have tried `require-rebuild` but it did not change anything...

[2017-02-02 05:40] derrickaxel commented on #36
@sGerli
Ok I got it to work by reverting my electron in my package.json to 1.2.5.

[2017-02-02 14:03] sGerli commented on #36
@derrickaxel  How did you revert to electron 1.2.5? When I tried `"electron": "1.2.5",` I got the following error:
[code]
It isn't finding electron 1.2.5

[2017-02-02 15:50] derrickaxel commented on #36
@sGerli I will check my setup tonight when I get home and I will let you know.
but my dependencies look like this
[code]
Mine compiled fine. are you on a RPI?
here are 2 links to compare the electron ABI version and the node ABI version
electron: https://www.npmjs.com/package/electron-abi
node : https://nodejs.org/en/download/releases/
you need to get them to match.
maybe you could use this https:

[2017-02-02 15:58] sGerli commented on #36
That's weird, I believe I'm using node 6.9.2 because of this first line in the dockerfile `FROM resin/%%RESIN_MACHINE_NAME%%-node:6.9.2`, but when I try it using electron 1.2.5 with `^` my build chooses 1.4.15 and when I use it without it it says:
[code]

[2017-02-02 16:07] derrickaxel commented on #36
ok when I get home I will double check everything and I will let you know

[2017-02-02 18:54] curcuz commented on #36
reverting to a very old version of electron does not seem a proper fix to me. Reopening this

[2017-02-02 18:58] curcuz commented on #36
@derrickaxel we should not add `pi-pins` to this template imho since that's business-logic specific (a user might want to use a different module) but we should ensure it works ;)

[2017-02-02 23:24] derrickaxel commented on #36
@sGerli  you are right i got excited an forgot to uncomment the line with `var GPIO = require('pi-pins');` to do my test. sorry....
but it looks like @curcuz has a fix for us

[2017-02-03 13:58] imrehg opened #38 "default TFT rotation"
in the framebuffer setup the application start fails if there's no default value set for `TFT_ROTATE`, as `modprobe fbtft_device` fails due to the parameter settings.

[2017-02-03 17:12] jviotti commented on #36
@curcuz The fix is to configure npm correctly to build against the Electron v8 headers instead of the local ones. See https://github.com/resin-io/etcher/blob/master/scripts/build/dependencies-npm.sh#L82. There are other environment variables you have to set. Here's a full example:

[code]

I recommend you to check our bash script to install npm dependencies, and probably even re-use it here: https

[2017-02-04 03:14] derrickaxel commented on #36
@sGerli I got it to pass the compile stage by doing this:
in the dockerfile  `FROM resin/raspberrypi3-node:7.4.0`
in the package.json `"electron": "^1.5.0",`

but I am not sure I fixed the issue because now I am facing another challenge which is :
"Uncaught TypeError: Cannot read property 'value' of undefined", source: file:///usr/src/app/data/src/index.js (47)
this might be a permission issue but

[2017-02-04 03:31] sGerli commented on #36
@derrickaxel to fix mine I applied the fix provided by #37 and now it's working perfectly.

[2017-02-04 03:41] derrickaxel commented on #36
@sGerli got it... I thought it needed to be compiled for some reason  thanks it will do it too

[2017-02-05 18:17] craigmulligan commented on #20
For anyone interested, I set up a react boilerplate by mixing resin-electronjs with [react-create-app](https://github.com/facebookincubator/create-react-app). https://github.com/resin-io-playground/resin-electronjs-react.

@danielmahon are you using node API's in your app?

[2017-02-08 17:21] danielmahon commented on #20
@craig-mulligan yes. currently my setup is based on https://github.com/chentsulin/electron-react-boilerplate since I am also running a version of the app on a couple surface tablets

[2017-02-10 15:03] #36 closed

[2017-03-14 08:50] bjarneheden commented on #12
Hi!
Any update/progress on this issue?
We are having what looks like the same issue, but with a Raspberry Pi 3

[2017-05-04 19:10] zwalchuk opened #42 "Build fails because node version tag not found in repository"
Similar to #35

Get the following error when pushing to resin repo:
[Error]    Build failed: Tag 6.9 not found in repository docker.io/resin/raspberry-pi-node

Removing version tag from Dockerfile template fixes the issue

[2017-05-04 19:12] zwalchuk commented on #42
Fix provided in pull request #41

[2017-05-04 19:12] #42 closed

[2017-05-18 17:12] Aubron commented on #12
Any thoughts on how to circumvent this? I get it pretty regularly on my board:

http://i.imgur.com/L6E2KCd.png

[2017-06-06 09:49] curcuz commented on #12
@bjarneheden @Aubron can you share the config variables you set, if different from what documented? (note: **config** vars, not env vars)

[2017-06-06 10:08] Aubron commented on #12
@curcuz - My apologies, but this was long enough ago that I moved to a different project, and no longer have a test setup.

As far as I am aware, however, I interacted with the project only through environment variables, continuing to try different RESIN_HOST_CONFIG_gpu_mem values to run a datadog dashboard page.

[2017-06-06 10:15] curcuz commented on #12
@Aubron `RESIN_HOST_CONFIG_gpu_mem` shouldn't be set on environment variables pane, but instead on the configuration variables one. You also get a feedback in the logs, since the supervisor tells you it's applying the new config - if you have any chance to confirm this, it will help me a lot debugging an issue that so far I was only able to reproduce on the Pi Zero.

Thanks!

[2017-06-06 10:29] Aubron commented on #12
I'm ordering a new pi next week, when it comes in I'll see if I can't set this back up and repro, just don't want to tear apart my finished setup.

[2017-06-06 10:39] curcuz commented on #12
thanks @Aubron I really appreciate it. Will keep investigating on my end ofc

[2017-06-06 11:19] joeyvandijk commented on #12
@curcuz I have tried with the new Resin OS (v2) release 2 weeks ago, but it did not work. Some feedback, but not positive (fixed ;)) feedback.

[2017-06-06 11:35] curcuz commented on #12
@joeyvandijk this seems to be an electron problem, see https://github.com/electron/electron/issues/4677

[2017-06-06 11:47] curcuz commented on #12
I will try to cross-compile electron from source against armv6 and see if it works.

[2017-06-06 11:54] lurch commented on #12
@curcuz : @jviotti also recently said that he was going to attempt building an ARMv6 version of electron... ;)
https://gitter.im/resin-io/etcher?at=5935a3e131f589c64f7927bb

[2017-06-15 05:18] imomaliev opened #43 "Resin electron vue template"
Hello,

I've recently created template for resin electron vue base on this project and https://github.com/SimulatedGREG/electron-vue, and wanted suggest adding link to it in this project, so interested people could use it. https://github.com/imomaliev/resin-electron-vue

[2017-06-15 05:22] imomaliev commented on #20
For anyone interested in electron-vue integration https://github.com/imomaliev/resin-electron-vue

[2017-06-15 09:47] craigmulligan commented on #43
Nice work @imomaliev! @curcuz, we should definitely add a section in the readme for related projects/boilerplates.

[2017-06-25 16:06] OllieLy opened #44 "Large image handling crash"
If I use any large images or do anything a little challenging within the renderer process chromium crashes not giving any error codes etc. The screen basically just goes blank.

I am using an Intel NUC7I5BNK with a pcap screen

Here is a fork of this repo that just has a large image set as a background, if you try to zoom in to it you will get the same issue that I have here. - https://github.com/

[2017-06-27 11:13] lekkas commented on #44
Hey @OllieLy , thanks for the report. @craig-mulligan or @curcuz may have seen this error before.

[2017-06-28 12:49] imrehg commented on #44
I've checked this on a NUC and on a RPi3 given the linked repo, and both of them crash with white-blank screen on pinch-zoom.

I didn't have any logs for this anywhere (neither the container nor the host OS, so couldn't see something like mentioned above). Bringing up the debug console, on the zoom crash the debug console disconnects too, so no log there either...

[2017-07-05 07:04] #44 closed

[2017-07-08 18:31] dcmartin opened #46 "On-screen keyboard"
I got this functionality working and have set the URL destination to my local home-assistant.io server (n.b. actually hass.io); however, I need to log into the site and cannot determine how to initial on-screen keyboard.

Any help?

[2017-07-10 14:56] lekkas opened #47 "Add VersionBot integration"

[2017-07-18 03:29] arunesh90 opened #48 "No address associated with hostname"
I'm not able to launch the application. I've followed the instructions exactly as explained on the repo but when I boot the pi up, it doesn't seem to launch. This is on a raspberry pi zero.
Log:
[code]

[2017-07-27 22:05] Page- opened #49 "Actions require a double click on icons rather than single click"
<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_238d)

[2017-07-30 08:06] curcuz commented on #49
the issue the user reported is unrelated to resin-electronjs. That problem was caused by the manufacturer of their screen changing driver for newer revisions of the hardware and them not switching to that.

[2017-07-30 08:06] #49 closed

[2017-08-02 21:05] curcuz opened #50 "mention there is a "intel" branch that is meant to be a reference to enable full HW acceleration on Intel devices"

[2017-08-17 07:58] curcuz commented on #48
Hi @arunesh90 this is due to electron being broken on armv6 https://github.com/electron/electron/issues/4677

[2017-08-17 08:01] curcuz commented on #46
Hi @dcmartin this project doesn't currently provide a system on-screen keyboard, leaving to the user to implement one by adding system dependencies or including a JS one. It does make sense to have it provided by the project itself, so I'll give it a try and see if I can integrate it

[2017-08-17 08:02] curcuz commented on #43
+1 @craig-mulligan - what about adding a section that contributors can issue PRs against when they want theirs to be added?

[2017-08-20 06:14] mexpolk opened #52 "/lib/arm-linux-gnueabihf/libdl.so.2: invalid ELF header"
For some reason my app crashes with the following error:

[code]

Also, I'm unable to enter into the terminal to dig more on the issue and check if it is a permission problem.

I'm using the example provided in https://github.com/resin-io/resin-electronjs, with `Raspberry Pi v1 B+`. Any clues about what I may be missing? Is this a known problem?

Thanks!

[2017-08-20 09:29] lurch commented on #52
Electron only runs on ARMv7 (or above) CPUs, while the Raspberry Pi B+ only has an ARMv6 CPU.
I.e. if you want to run Electron, you'll need to upgrade to either a Raspberry Pi 2 or a Raspberry Pi 3.

[2017-08-21 10:40] #43 closed

[2017-08-21 10:41] imomaliev commented on #20
I think this can be closed

[2017-08-21 13:24] #20 closed

[2017-08-21 13:26] #52 closed

[2017-08-21 13:26] curcuz commented on #48
related to #52

[2017-08-21 13:26] #48 closed

[2017-08-24 10:33] IvanTorresEdge commented on #9
Hi, any updates on OpenGL support?

[2017-08-30 03:56] mrjonny2 commented on #9
It seems to be on chromium's side with a lack of support for mali GPUs on linux

[2017-09-04 14:23] jollytoad commented on #52
It would be really useful if this was mentioned in the README, which currently gives the impression that it'll be ok on a Pi 1.

[2017-09-04 15:52] lurch commented on #52
ping @curcuz

[2017-09-16 21:40] steffenmllr commented on #12
I have question about the zero: Does resin-electronjs work on a raspberry zero ?

[2017-09-18 06:57] willnewton commented on #12
@steffenmllr I think that should work. The best place to ask questions about using Resin is the forums: https://forums.resin.io/

[2017-09-18 07:48] lurch commented on #12
I haven't tested myself, but AFAIK Electron (and therefore resin-electronjs) only works on an ARMv7 CPU (i.e. Pi2 or Pi3), and therefore won't work on the PiZero as it only has an ARMv6 CPU. See #52

[2017-09-24 09:51] WoodyPhil opened #53 "Node not running"
When i put the electron files into the app directory it fire´s up the index.html but give me errors like

![image](https://user-images.githubusercontent.com/7937191/30781390-6f168e0c-a11e-11e7-86b0-261d57e4bc0c.png)

In my opinion the node server is not running, but i have checked the environment variable

![image](https://user-images.githubusercontent.com/7937191/30781403-9849b18c-a11e-11e7-9a24-

[2017-10-02 15:10] kristjanmik commented on #9
@danielmahon Do you know anything about the progress on the Resin team side?

[2017-10-02 15:11] kristjanmik commented on #50
Hm, this link is not available. Could you link the discussion here as well?

[2017-10-02 16:30] curcuz commented on #9
Hello, it turns out the issue is with the mesa libraries that are installed by `debian:jessie`. The way to fix this is to update these packages.
To do that add the jessie-backports mirror to your source.list file, by adding the following line to your Dockerfile:
`RUN echo "deb http://ftp.debian.org/debian jessie-backports main" >> /etc/apt/sources.list`
Lastly use apt-get with `-t jessie-backports

[2017-10-02 16:30] curcuz commented on #9
Sorry, that is related to Intel based devices, while this thread is about the rpi3 - my fault :/
On the rpi side, the issue is on chromium and I don't see a fix coming soon. Even if it does, it needs to hit chromium, than electron, then this project. If you are interested only in running web content with hw acceleration this project from @petrosagg does it very well https://github.com/resin-io-pla

[2017-10-02 16:36] curcuz commented on #50
hey @kristjanmik this repository is optimised for Intel chipsets and grants hw acceleration https://github.com/resin-io/resin-electronjs/tree/intel

[2017-10-03 13:55] kristjanmik commented on #9
@curcuz Thanks for the quick reply. This only works on Intel based boards, not the Raspberry Pi 3(which is ARM based). Is there any solution that you know of for ARM based devices?

[2017-10-26 06:55] MiluchOK commented on #9
I need this working too... Is there anything?

[2017-11-14 19:51] maximilliangeorge opened #55 "Kiosk mode doesn't hide taskbar and prevents 'ready-to-show' from firing"
Kiosk mode prevents 'ready-to-show' from firing. Also, it doesn't hide the top menu. I've tried modifying fluxbox settings with no luck... Any hints?

[2017-11-15 12:41] curcuz commented on #55
Hi @maximilliangeorge kiosk mode has nothing to do with Fluxbox - it is just one of the many browserWindow parameters that I wrap with the env vars mechanism https://electron.atom.io/docs/api/browser-window/#new-browserwindowoptions

[2017-11-15 12:42] curcuz commented on #55
so I guess the focus of the investigation would be on electron itself, or on how we integrate it into this project

[2017-11-15 12:44] curcuz commented on #53
hi @WoodyPhil the errors you showed are not related with node running or not - in fact, it **is** running and that's the cause of your issue. Please have a read here about jQuery being confused on electron https://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined

[2017-12-18 09:30] benjsec opened #57 "RPi startx "bad display name""
I'm trying to run this on a raspberry pi B and the display (startx) is failing. The log output is

[code]

I've tried a couple of different builds, including switching from `-node:6` to `-node:latest` but all seem to do the same. Trying to manually run `startx` either directly on the host or via the resin control panel doens't work either.

[2017-12-19 01:12] concreted commented on #50
@curcuz Are there details posted somewhere on what hardware the Intel branch is meant to work with? My team tried using the Dockerfile from that branch on two Intel Compute Stick models, and it improved performance on our Atom stick but not our Core M3 stick.

[2017-12-29 04:05] CodyBranch opened #58 "Writing to DOM blocking other writes?"
I've been working with this project this week. My initial results were great and I was super excited about what could be done with the Pi and Resin/Electron.

While trying to build a more complex page to display with Electron I noticed something odd. I have one socket.io connection that gets data and updates a div 10 times per second, and I have a socket.io connection that gets data and updates a

[2017-12-29 04:22] CodyBranch commented on #58
I event thought maybe I'd try two separate BrowserWindow and it still seemed to act the same as before.

[2018-01-03 21:37] curcuz commented on #53
closing since the user didn't reply in a long time

[2018-01-03 21:37] #53 closed

[2018-01-03 21:39] curcuz commented on #50
@concreted it is targeting the Intel NUC family and UPboard family (or at least has been tested against only those) - good point in writing it down somewhere in the README

[2018-01-03 21:40] curcuz commented on #58
Hi @CodyBranch sorry for the late reply - can you share a simple test case app or a snippet I can refer to for debugging?

[2018-01-03 21:44] curcuz commented on #57
@benjsec afaik the rpi model B is armv6, which is not currently supported by electron: https://github.com/electron/electron/issues/4677

[2018-01-03 23:16] SteffenDE commented on #9
Maybe someone with enough experience in building electron/chromium could apply one of these patches and build a custom electron binary for the rpi: https://github.com/raspberrypi-ui/chromium_patches
The Chromium version shipped in the latest raspbian releases has one of these patches applied and plays 1080p H264 just fine. Sadly it crashes when using the OpenGL driver, so either you have accelerat

[2018-01-04 17:53] benjsec commented on #57
@curcuz thank you for the reply. I've seen the issues with electron on ARM6, and was expecting to have to tackle that at some stage. The error I'm getting here is starting the xserver to bring up the fluxbox desktop. I was expecting this to work, even if electron then didn't, but might have misunderstood how closely linked the packages are.

[2018-01-08 20:26] CodyBranch commented on #58
Hi @curcuz sorry I didn't get back to you sooner. I've been trying to narrow the problem down in some spare time but was busy last week.

After messing around with it a bit it seems that the hiccup in display only occurs when there is CSS on the page, not just displaying raw data. Could it just be something about a Raspberry Pi's limited power?

When I run a script like this both field populate sm

[2018-01-09 16:55] apgiorgi commented on #9
Adding `dtoverlay=vc4-fkms-v3d` into config.txt helped with WebGL/CSS HW performance on Raspberry Pi 3.

[2018-01-09 22:24] elfisher opened #59 "Add no tearing config to xorg to reduce tearing"
You can add additional hardware acceleration for no tearing by creating a `/usr/share/X11/xorg.conf.d/20-intel.conf` file with the code below. This helps make animations and videos render much more smoothly.

[code]

[2018-01-09 22:32] elfisher commented on #59
NOTE: This is only useful for Intel projects.

[2018-01-13 13:11] ruudboon opened #60 "Chromium crash"
I'm running a test on a RaspberryPI 3. It runs fine in the beginning but after a while I get the following error:

[code]

[2018-01-15 11:56] lurch commented on #60
This project is still using a fairly old version of electron: compare https://github.com/resin-io/resin-electronjs/blob/master/app/package.json#L22 to https://electronjs.org/
@curcuz I wonder if an updated electron version might help here? Or perhaps it'd break more things than it fixes, given that the latest versions of Electron are now using NodeJS version 7?

[2018-01-17 08:09] ruudboon commented on #60
@lurch I could give it a try this weekend and submit a pull request if it solves the issue. Thnx for the suggestion

[2018-02-08 19:55] thegrandoverseer commented on #57
I am getting the same error on RPI 3 on armv7l architecture.

[code]

[2018-02-09 04:21] curcuz commented on #58
@CodyBranch it can be very likely due to the limited CPU resources, since this project is not hw accelerated on the rpi (yet)

[2018-02-09 05:01] CodyBranch commented on #58
It seems like you're correct. After some more testing I noticed when doing the same things on a small portion of the screen it was fine. When I tried to use the full screen it had issues.

Hopefully someone far smarter than me eventually adds in some HW acceleration :)

[2018-02-09 08:45] adipascu commented on #57
My app is running corectly but I get a few warnings on each startup:
[code]
After the last line I can see the runtime log of the newly started app (stdout).

[2018-02-09 17:28] Julio-Guerra opened #62 "Can't start on RPi3 model B"
Hi,

I deployed electron on my Raspberry Pi 3 model B as documented but it doesn't work. Here are the logs:

[code]

Any idea?

[2018-02-09 20:29] curcuz commented on #62
I fixed all the errors in https://github.com/resin-io/resin-electronjs/tree/node8

**but** the status is still a blank screen, without any error reported (sigh)

[2018-02-09 20:30] curcuz commented on #57
@adipascu that is the expected behaviour

[2018-02-09 20:31] curcuz commented on #60
@ruudboon @lurch

I think it has nothing to do with the electron version - never seen this before

[code]

[2018-02-09 20:49] #12 closed

[2018-02-09 20:51] curcuz commented on #55
since the user didn't reply for a long time, I'm going to assume he fixed his problem and it wasn't related to this repository.

[2018-02-09 20:51] #55 closed

[2018-02-09 20:53] curcuz commented on #58
@CodyBranch I dream about that too :)

Please feel free to close the issue if you agree this is a X11/Chromium limitation on the target architecture

[2018-02-09 21:12] curcuz commented on #62
I managed to identify the electron binary as the cause of the issue. No matter how I install it, it will always print a blank page and sit there. If I install chromium-browser and run it the same way I run electron, it will work.

Will try to get some more logging

[2018-02-09 21:36] curcuz commented on #62
this is the same issue as https://github.com/electron/electron-quick-start/issues/172 - targeting electron@1.6.15 works

[2018-02-09 21:50] #62 closed

[2018-02-10 13:42] Julio-Guerra commented on #62
Thanks a lot for this fast fix. Works perfectly now.

[2018-02-10 16:52] benjsec commented on #57
I did manage to get my hands on an RPi3 and to test with, and the display started fine. There were still some error messages, but they evidently weren't so important.

From what I understand fluxbox _should_ still start on ARM6, even if Electron doesn't work. I did spot in the logs that the Resin build servers are ARM7, so wonder if that could be related? I'd like to be able to dig into this more,

[2018-02-12 15:56] #57 closed

[2018-02-22 04:06] CodyBranch commented on #58
I agree! Issue closed.

[2018-02-22 04:06] #58 closed

[2018-03-26 08:14] #38 closed

[2018-03-26 09:55] lurch commented on #47
Duplicate of #29 ?

[2018-04-09 21:58] brownjohnf opened #69 "ERROR:browser_gpu_channel_host_factory.cc(103)] Failed to launch GPU process."
It's unclear why this is happening. This is on a push of the master branch as of today's date. Host's config.txt:

[code]

[2018-04-09 21:59] brownjohnf commented on #69
Forgot to say that this is an rpi3 model B, running on an HDMI display.

[2018-04-09 22:02] curcuz commented on #69
@brownjohnf can you paste more logs around the error please?

[2018-04-09 22:02] curcuz commented on #69
also, what's the output on the screen after you see this error?

[2018-04-09 22:10] brownjohnf commented on #69
@curcuz Output on the screen is just white/light gray. Prior to the startup/error, the screen is the default resin display with the ASCII Resin.io on the screen.

[code]

[2018-04-09 23:59] mateodelnorte commented on #21
I'm experiencing this issue. Any info on a fix?

[2018-04-16 09:40] dazz100 commented on #52
I have read the above explanation and I am trying to install mjpg-streamer on a Pi 3B following the instructions here:  https://github.com/jacksonliam/mjpg-streamer
I got the error:

    /usr/lib/arm-linux-gnueabihf/libbfd-2.28-system.so: invalid ELF header
    CMakeFiles/cmTC_9bf69.dir/build.make:65: recipe for target
    'CMakeFiles/cmTC_9bf69.dir/testCCompiler.c.o' failed

 Is there a fix?

[2018-04-16 09:41] curcuz commented on #52
@dazz100 can you please elaborate on how your comment is related to the issue or the project in general?

[2018-04-16 10:44] dazz100 commented on #52
Hi

I think the solution to my problem is here:

https://github.com/bytedeco/javacpp-presets/issues/486

Too late to try that now.    Will give it ago tomorrow.

[2018-04-16 10:49] curcuz commented on #52
@dazz100 sorry I don't understand - this thread is about electron and rpi0/1, while you are talking about installing mjpg-streamer on a rpi3 :P

[2018-04-16 10:49] lurch commented on #52
@dazz100 The issue you're commenting on here is entirely unrelated to your problem. You'd be much better off asking for help at https://github.com/jacksonliam/mjpg-streamer#discussion--questions--help

[2018-04-16 10:54] dazz100 commented on #52
Hi

You are right.  Sorry.

Thanks for the link

[2018-04-23 19:53] gibbsonn commented on #69
I'm getting the same issue as well, same pi version

[code]

Anyone know what's causing this?

[2018-04-24 03:55] wassgha commented on #69
+1

[2018-04-24 13:13] tony1377 opened #70 "this boilerplate fails to load when updated to electron latest version 1.8.4"
steps to reproduce

* do fresh checkout of this repo
* update `electron` to latest (1.8.4) at time of writing
* deploy to a raspberry pi3 model B, running on a pi 7 inch touchscreen

result = blank white screen
expected = the hello world message with unicorn

log output from resin

[code]

[2018-04-25 13:53] Sega01 commented on #69
Following worked for me:

- changed dependencies to: "electron": "~1.6.16" and "electron-rebuild": "^1.7.2"
- in main.js add app.disableHardwareAcceleration(); to get rid of the browser_gpu_channel_host_factory.cc(103)] Failed to launch GPU process. error

[2018-04-27 11:30] Julio-Guerra opened #71 "Clearing the cache"
Hi,

I couldn't find any way to clear the electron's data cache. It may be worth adding some configuration variable to "force reload" everything?

[2018-05-01 14:39] mmranger commented on #70
Hey @tony1377 ,there is an issue https://github.com/electron/electron-quick-start/issues/172 with electron logged under the electron-quick-start repo, with the renderer starting; using electron version 1.8 on RPI 3.

To resolve we went with the `2.0.0-beta.8` version, but we also had to install `libgtk-3.0` instead of `libgtk2.0-dev`.

We just made these changes and thus far have not found any oth

[2018-05-02 13:11] mmranger commented on #69
also electron v`2.0.0-beta.8` worked for us (with added bonus of loading pdf's in iframes) see https://github.com/resin-io/resin-electronjs/issues/70

[2018-05-04 20:02] RyanDevlin commented on #70
@mmranger , I apologize if this is a stupid question, I'm pretty new to all of this. I was wondering how you updated to electron 2.0.0 in this repo. I tried changing the electron dependency in the package.json file from "~1.6.16" to "2.0.0" but this caused the application to crash when launched. Is there something I'm missing? Thanks.

[2018-05-09 14:41] curcuz opened #75 "Implement a network configuration API"
we want to Implement a network configuration API that can be consumed by electron applications. This API will have underlying business logic to handle both resin-wifi-connect and the NetworkManager dbus API.

[2018-05-09 14:46] curcuz opened #76 "Architect a better way of handling architecture-specific dependencies"
a clear example of the problem to attack is that we have an `intel` branch with intel graphics specific dependencies. This approach is far from ideal because every time master gets updated, the arch branches need to be rebased against it

[2018-05-09 14:48] curcuz commented on #70
this issue is now high prio since the currently pinned electron version is affected by a known vulnerability https://nvd.nist.gov/vuln/detail/CVE-2018-1000118

[2018-05-09 14:58] curcuz commented on #70
the current approach I am pursuing is to bump electron to `1.7.13` which fixes the vulnerability. From there, we can test later versions too. Please keep in mind that since electron object properties and APIs might change across versions, that's why we pin a specific one

[2018-05-16 12:25] lurch commented on #76
Looking at https://github.com/resin-io/resin-electronjs/compare/intel , maybe this could be handled by architecture-specific Docker files, generated from a common template, like Etcher uses? :man_shrugging:
https://github.com/resin-io/etcher/tree/master/scripts/build/docker

[2018-05-25 22:25] curcuz commented on #71
@Julio-Guerra electron data cache is removed upon container restart

[2018-06-14 13:58] jtsmedley opened #79 "Request for Documentation on Devices for MultiContainer Mapping"
I need a list of devices that must be mapped through to allow electron to start so that I can segment off my other containers from interfering with the display.

[2018-06-18 14:07] jtsmedley commented on #79
devices:
      - "/dev/tty0:/dev/tty0"
      - "/dev/tty2:/dev/tty2"
      - "/dev/fb0:/dev/fb0"
      - "/dev/input:/dev/input"
      - "/dev/snd:/dev/snd"

This is the devices I used to test.  All other container need to be ran with just the devices they need access to.

[2018-06-29 13:13] dirkmoors opened #80 "No support for Alpine?"
Hello,

I noticed the "alpine" branch, but it seems to be very outdated. I tried to get it working but I failed.
Is there anyone that is still working on this?

Thank you in advance!

[2018-08-15 13:41] Addflow commented on #9
i'm experiencing the same problems with the rpi3 using the video tag and a 1080p mp4 video.

omxplayer does a decent job and the playback is flawless. but since i want an overlay (text, images, ..) on top of the video, omxplayer won't work for me - omxplayer OR html content :/

does someone know if another board is capable of smooth 1080p video playback using the html5 video tag? what about the in

[2018-08-15 19:06] SteffenDE commented on #9
@Addflow I‘m using a Celeron NUC with Ubuntu 16.04 and Chromium and it plays 1080p H264 fine.

[2018-09-26 19:18] mateodelnorte commented on #2
@curcuz removing `-nocursor` allows us to see a cursor, but the cursor doesn't move when we move the mouse. We can see mouse events using `uvtest`, within the container. They're just not making it into X11 or the electron app.

Any ideas?

[2018-10-01 17:17] imrehg opened #82 "Document how to rotate screen when not PiTFT"
I.e. how to use `display_lcd_rotate` and `display_hdmi_rotate` in `config.txt`, as user was confused (tried to use the `TFT_ROTATE` that is not the right one for that role.

[2018-10-31 17:36] williamwalker88 opened #84 "Rename/Rebrand for Balena"
Rename the project from 'resin-electronjs' to 'balena-electronjs'.

[2018-12-05 21:55] cyraid commented on #9
Has chromium fixed this yet? Is it a problem with chromium?

[2019-02-12 09:10] dansku commented on #84
Also move it to balena-io-projects
.

[2019-03-25 05:27] nicshackle commented on #9
I'm trying to solve this, too. Adding `dtoverlay=vc4-fkms-v3d` did help considerably, but not enough for 1080p.

I briefly tried to use omxplayer, but battled to install it. @danielmahon can you share how you went about using omxplayer?

[2019-05-04 16:24] gersur commented on #2
For future people who have same problem like @mateodelnorte

1. Remove the `-nocursor` parameter from [here](https://github.com/balena-io/resin-electronjs/blob/d968e602967f25e0009bf37dbe9846e1dfb76fd2/Dockerfile.template#L48)
2. Add `ENV UDEV=1` to [here](https://github.com/balena-io/resin-electronjs/blob/d968e602967f25e0009bf37dbe9846e1dfb76fd2/Dockerfile.template#L2)
3. Add `systemd \` to [here]

[2019-05-24 17:27] martenjacobs opened #90 "RPi touch display not working anymore"
I'm using this boilerplate to develop an app that will run on a balenaFin board with an official Raspberry Pi Touch Display connected. This worked fine before, but today I updated my repo to match the boilerplate in the current version of this repo because some apt repos were not available anymore so the old Dockerfile didn't build anymore.

Now, the screen works fine, but there are no touch event

[2019-05-24 18:47] martenjacobs commented on #90
This issue may be the same as [this one](https://github.com/balena-os/balena-raspberrypi/issues/300), but as I can get it working with an older version of the container, it seems the issue is actually related to the container rather than the OS

[2019-05-24 21:26] danielmahon commented on #90
@martenjacobs try adding `ENV UDEV 1` to your Dockerfile

[2019-05-25 07:55] martenjacobs commented on #90
@danielmahon That works! Can you explain why this is necessary?

[2019-05-26 19:24] danielmahon commented on #90
@martenjacobs Honestly... I'm not entirely sure 😄. I'd wager it flags something during the image startup to enable udev so that devices (like a touchscreen) are accessible from the container. But one of the Balena peeps will need to chime in here (@shaunmulligan?) because I think it has to do with their supervisor as I couldn't find much info on the flag outside of Balena forums.

[2019-05-26 19:49] martenjacobs commented on #90
Yeah I think I read somewhere it enables UDEV (which is kind of in the name, really). I just didn't expect udev to be required for these inputs because they would be handled by the host OS, but I guess that's not the case. Would be nice to have this documented somewhere though.

[2019-06-01 16:39] danielmahon commented on #90
@martenjacobs Just came across this in their docs:
https://www.balena.io/docs/reference/base-images/base-images/#working-with-dynamically-plugged-devices

[2019-08-21 22:36] mowi22 opened #91 "electron 1.8.4 errors: dbus and nodeIntegration"
I'm getting the following error on a docker container:
`Device: 32bit rpi3B+`
` electron: "1.8.4" `
 `electron-rebuild: "1.8.6"`

I see this in the console after the container is built:
`(422)] Failed to connect to the bus: /usr/bin/dbus-launch terminated abnormally without any error message`

I'm also seeing an error related to window.require "is not a function" I know this is solved by setting `

[2019-08-26 14:25] mowi22 commented on #91
I fixed this by installing the x11 dbus package for anyone else getting this error.

[2019-09-13 09:04] akifrabbani opened #92 "Running on Beaglebone Black doesn't work"
I tried to ran this on Beaglebone Black, but it stuck at freeze cursor on HDMI screen. If I explicitly called ./start.sh again, it will still not display but once I terminated the second running start.sh, it will flash momentarily.

[2019-09-16 12:35] lurch commented on #84
Closed by #89 ?

[2019-09-16 17:28] willswire commented on #84
Looks good to me

[2019-09-16 18:26] AkshayKanchan opened #93 "Remote: error: hook declined to update refs/heads/master"
I am unable to `balena push` to my device below are the details of device/os and error log.

OS: balenaOS 2.38.0+rev1 (production)
Device: Raspberry PI 3 B (with 7" touch screen)
Error in console:
[debug] handling message: {"message":"\u001b[36m[Info]\u001b[39m     Dashboard link: https://dashboard.balena-cloud.com/apps/1508961/devices"}
[Info]     Dashboard link: https://dashboard.balena-cloud.co

[2019-09-23 16:00] cjpollock opened #94 "Raspberry Pi 4 Compatibility"
Hi team,

When trying to compile this with Balena on a Pi 4, I get the following error:

`E: Unable to locate package libgnome-keyring-dev
[electron]
[electron]      Removing intermediate container 57686fd91418
[electron]      The command '/bin/sh -c install_packages   apt-utils   clang   libxcb-image0   libxcb-util0   xdg-utils   libdbus-1-dev   libgtk2.0-dev   libnotify-dev   libgnome-keyring-de

[2019-09-23 18:37] floion commented on #94
@nghiant can you check of the package reported missing above should be in the base image?

[2019-09-24 14:06] imrehg commented on #94
This is not Pi4 incompatibility, but buster incompatibility, even switching to other device types it works like this. Thus need an overhaul for Buster

[2019-09-24 14:10] imrehg commented on #84
Not closed just yet, the project name needs change too, and maybe location, moving into projects

[2019-09-24 14:12] imrehg commented on #94
Also can miss `libgnome-keyring0`.

[2019-09-24 14:15] imrehg commented on #94
It might need `gnome-keyring` instead https://packages.debian.org/search?keywords=gnome-keyring&searchon=names&suite=stable&section=all

[2019-09-24 14:16] balena-ci commented on #94
[imrehg] This issue has attached support thread https://jel.ly.fish/#/support-thread~fe58eda2-8314-40ba-a412-aa0fa0d904a0

[2019-09-24 15:13] lurch commented on #94
Until this is fixed, would it be worth modifying this repo to use the previous version of Debian? :man_shrugging:

[2019-10-15 10:00] gersur commented on #9
I follow tutorial on this site https://thecodersblog.com/hardware-accleration-in-linux-with-chrome/
The package `i965-va-driver` not found, so I ignore it.

This can increase performance, not much but still.
Tested on latest electron@3, raspberry pi 3b+, 64bit balenaOS

[2019-12-13 16:40] Craigson opened #97 "Build fails on RPi4 ( E: Unable to locate package libgnome-keyring-dev )"
Attempting to build on the RPi4 fails for apt-get packacge `libgnome-keyring-dev`.

Stack trace:
[code]

[2019-12-16 10:36] lurch commented on #97
Duplicate of #94 ?

[2019-12-28 06:37] gjreasoner commented on #82
I ran into this on a raspberry pi 4 and a 7" touchscreen, was able to use this [device configuration setting](https://github.com/balena-io-projects/balena-wpe/issues/25#issuecomment-445875250) to rotate the screen.

Would be great to have on the documentation if this project is still active.

[2020-01-09 21:46] vforv opened #98 "Boot time"
How much it takes for OS to boot into kiosk mode?

[2020-01-12 05:09] jbotte opened #99 "issue with input devices"
evtest shows input from keyboard and mouse, but i cannot seem to get it working inside the electron app even if i enable cursor.

[2020-01-12 05:28] jbotte commented on #99
needed to add ENV UDEV=1 before starting the app

[2020-01-12 05:28] #99 closed

[2020-01-27 18:18] yusbel80 commented on #94
Any update on how to get this working?

[2020-01-27 21:06] lurch commented on #94
I've not tried it myself, but a comment in #95 says that it works on Pi4.

[2020-01-28 12:43] yusbel80 commented on #94
Nah this isn't working, at least its not stable.

I am getting error
<img width="1113" alt="Screen Shot 2020-01-28 at 7 42 36 AM" src="https://user-images.githubusercontent.com/8496256/73264898-cfcbc700-41a1-11ea-879c-1886c023efa6.png">

[2020-01-28 22:32] lurch commented on #94
I believe this issue was originally about a problem at build-time, but it seems like you're having a problem at run-time? So maybe it's a separate problem which deserves a separate issue? :man_shrugging:

[2020-05-30 20:30] kfadgen commented on #97
Is there any update on this?  I'm seeing the same issue here.

[2020-05-31 09:57] lurch commented on #97
https://github.com/balena-io/balena-electronjs/pull/95#issuecomment-536414333

[2020-06-12 13:47] martenjacobs commented on #90
@danielmahon I just made the same mistake again and re-discovered this solution. You solved my problem again :)

[2020-06-12 13:47] #90 closed

[2020-06-12 15:10] danielmahon commented on #90
@martenjacobs haha, I once found the perfect answer to a problem I was having on Stack Overflow... only to find out I was the one that posted the answer years ago in the first place... I felt proud and stupid at the same time.

[2020-10-08 04:07] Sukhoimaster commented on #92
similar situation as i am.

[2020-10-08 13:34] akifrabbani commented on #92
Downgrading to old commit of balena-electronjs will fix the issue for some reason. Never tried again with newer commits.

[2020-10-09 02:13] Sukhoimaster commented on #92
alright thnkyou @akifrabbani for pointing that out, Id already tried with newer commit which not working. I will try with the old commit .
"mai la office" - hazami